<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase" href="/">
        <i class="bi bi-pc-display"></i> PC Store
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sản phẩm</a></li>
      </ul>
      <ul class="navbar-nav">
        {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Xin chào, {{user.name}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </li>
        {{else}}
            <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Đăng ký</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>